<div class="container">
  <div class="header">
    <h2>Plataforma de Controle de Veículos</h2>
    <p><small>Com o <b>PCV</b> você cadastra seu veículo e nós gerenciamos desde o anúncio até a venda</small></p>
  </div>

  <div class="login-form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h2 class="text-center">entre com seu <b>usuário</b> e <b>senha</b></h2>

      <form>
          <div class="form-group">
            <div class="input-group">				
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>						
              </div>
              <input type="text" name="usuario" class="form-control" placeholder="Usuário">
            </div>
          </div>
    
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-option-horizontal"></span>						
              </div>
              <input type="password" name="senha" class="form-control" placeholder="Senha">
            </div>
          </div>
    
          <footer>
            <div class="checkbox pull-left">
              <label><input type="checkbox" name="lembrar">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Entrar</button>
          </footer>
        </form>

        <app-login></app-login>

        
  </div>
</div>